configuration {
    modi: "drun,run";
    show-icons: true;
    display-drun: " ";
    drun-display-format: "{icon} {name}";
}

@import "colors.rasi"

window {
    width: 512px;
    height: 288px;
    border-radius: 10px;
    background-color: #a9b1d65E;
    border: 5px solid;
    border-color: @elevated;
}

mainbox {
    orientation: horizontal;
    children: [ listbox ];
}

listbox {
    orientation: vertical;
    children: [ inputbar, listview ];
    background-color: #181825AB; // 67% opacity
    border-radius: 0px;
    padding: 20px 20px 0px 20px;
}

inputbar {
    background-color: @elevated;
    padding: 10px;
    border-radius: 10px;
    children: [ prompt, entry ];
    spacing: 10px;
}

prompt {
    text-color: @primary;
    font: "Noto Sans";
}

entry {
    placeholder: "Buscar...";
    placeholder-color: @fg-muted;
    text-color: @fg;
}

listview {
    margin: 17px 0px 0px 0px;
    columns: 1;
    lines: 4;
    spacing: 10px;
    require-input: false;
}

element {
    padding: 7px;
    border-radius: 10px;
}

element selected.normal {
    background-color: #1e1e2eAB; // 67% opacity
    text-color: @primary;
    border: 1px solid;
    border-color: @primary;
}
